h2.gioventu {
  font-size: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}
img.pinguini {
  border-radius: 50%;
}
#nav-album {
  background-color: rgba(240, 248, 255, 0);
  width: 100%;
}

div.giallo {
  background: linear-gradient(
    to bottom,
    rgba(249, 209, 25, 0.829),
    rgb(127, 108, 45),
    rgb(115, 97, 40)
  );
  padding-block: 1rem;
  
}
div.loghi {
  background: linear-gradient(
    to bottom,
    rgb(115 97 40 / 87%),
    rgb(72 63 29 / 79%),
    rgb(52 45 24/0%)
  );
}

i.play {
  font-size: 4rem;
  color: #1ed760;
}
i.hearth {
  font-size: 2rem;
}
i.arrow {
  font-size: 2rem;
}
i.dot {
  font-size: 2rem;
}
div.clock {
  margin-left: auto;
}


.row-personale{
  padding-top: 45px;
}
