
.col-page{
    background-color: #000;
    
    
}
.row-page{
    height: 100vh;
    
}
.main{
    height: 100%;
    overflow:auto;
    
}

body{
    overflow: hidden;
    scrollbar-base-color:white
}

.nav-sud{
    z-index: 999;
    height: 4vh;
    background-color: #252525;
}

